*.xml
dynamic_cc.iml
*.iml
.idea/.name
*.so
*.bmp
*.png
video1.zip
*.jpg
c_src/.idea/
c_src/CMakeFiles
c_src/Chromaticity
c_src/CMakeCache.txt_542b0590-711a-4961-a6c6-8a2b49c9c2ca
c_src/CMakeCache.txt_f4f2ae7e-e677-41c0-8674-65b517928442
c_src/Makefile
test_g_list
g_list
c_src/cmake_install.cmake